body {
   padding: 0;
   margin: 0; 
   background: linear-gradient(to right, gold, green);
}

.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#main {
    margin: 0px auto;
    width: 250px;
    height: 50px;
    background-color: white;
    padding: 10px; 
}

button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
}


button:hover {
    background-color: antiquewhite;
}
